/*Import af fonts fra Google Fonts*/


/*UDSTILLINGSOVERSIGT*/
/*Seks kort over udstillinger */

#fugle-udstilling-mobil {
    width: 6vw;
    position: relative;
    top: 10vw;
    left: 15vw;
}

#udstillinger {
    margin-top: 90px;
}

#udstillinger h1 {
    color: #f69d10;
    text-transform: uppercase;
    font-size: 4vw;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sekskort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.sekskort a {
    text-decoration: none;
    color: black;
    width: 30%;
    padding-bottom: 50px;
}

.sekskort img {
    width: 100%;
}

.sekskort p, .sekskort h3 {
    width: 100%;
    padding-top: 15px;
}

.sekskort h3 {
    font-size: 20px;
}

.sekskort p {
    font-size: 14px;
}

/*her starter artikelsiden */

.fuld_billede_udstillinger {
   background-image: url(img/mylder.jpg);
   background-size: cover;
   background-position: top right;
   background-repeat: no-repeat;
   margin-top: 120px;
}


.fuld_billede_udstillinger h1 {
    color: #f69d10;
    font-size: 7vw;
    text-shadow: 1px 1px 5px black;
    text-align: left;
    padding-top: 28vw;
}

.fuld_billede_udstillinger h2 {
    font-size: 3.2vw;
    text-shadow: 1px 1px 5px black;
}

.fuld_billede_udstillinger div {
    height: 50vw;
    margin-left: 7vw;
}

#bille-mobil {
    width: 10vw;
    position: relative;
    bottom: 3vw;
    left: 50vw;
    transform: rotate(45deg);
}

#fugle-mobil {
    width: 8vw;
    position:  relative;
    left: 65vw;
    margin: 0;
}


.indhold_artikel_udstillinger {
    display: flex;
    padding-top: 10vw;
    padding-bottom: 10vw;
    
    
}
#brodtekst {
    width: 50%;
}


#bille_illustration, #blade_illustration {
    width: 25%; 

}

#bille_illustration img, #blade_illustration img {
    width: 9vw;
    margin: auto;
    display: block;
    position: relative;
}
#bille_illustration img {
    bottom: 5vw;
}

#blade_illustration img {
    top: 28vw;
}
    

.tokort {
    width: 100%;
    display: flex;
}

.tokort div{
    width: 50%;
}



                                                /*PRAKTISK INFORMATIONSSIDE*/

#fuglepraktiskinfo-mobil {
    width: 15vw;
    transform: scaleX(-1);
    position: relative;
    left: 75vw;
    bottom: 3vw;

}

#prin_bille{
    margin-top: 3vw;
    margin-left: 80px;
    width: 30vw;
}

#prin_pawprint{
    max-width: 20vw;
    margin-left: 120px;
    margin-top: 30px;
}

#prin_mad{
    max-width: 40vw;
    margin-left: 80px;  
}

#prin_ikon div{
    width: 5vw;
}

.prin{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
   

    /*Margin for alle sections på siden så der er luft til hver side. skal måske flyttes til @media så det blir responsivt*/
    margin-left: 40px;
    margin-right: 40px;
}

#prin-priser {
    margin-top: 0;
}

.prin div{
    width: 50%;
    margin-inline:20px;
}

.prin h2, #madogdrikke-tekst h2{
    color: #6d9887;
    margin-bottom: 1.2vw;
}
#madogdrikke-tekst h2 {
    font-size: 4vw;
}

.prin h1{
    color: #8599B2;
    text-align: center;
    font-size: 4vw;

    margin-top: 100px; /*skal være 170px for ikke at forsvinde under header.*/
}

#maps_lap{
    width: 100%;
    height: 430px;
}

#maps_mobile{
    width: 100%;
    height: 300px;
}

#madogdrikke {
    width: 100%;
    display: flex;
    padding:20px;
}

#madogdrikke-tekst, #madogdrikkeimg {
    width: 50%;
}

#madpakke {
    width: 34vw;
    padding-left: 7vw;
    padding-top: 10vw;
}




/*MOBIL*/

@media screen and (max-width: 768px){
    
    #fugle-udstilling-mobil {
        display: none;
    }
    .sekskort {
        flex-direction: column;
        align-items: center;
    }

    .sekskort a {
        width: 100%;
    }

    .udstilling_com {
        display: none;
    }

  

    #udstillinger h1 {
        color: #f69d10;
        text-transform: uppercase;
        font-size: 5vw;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 0px;
    }

    #firben_udstilling_mobil {
        padding-bottom: 40px;
        width: 87%;
    }

    #firben_udstilling_com {
        display: none;
    }
/*udstillings artikle*/  

.fuld_billede_udstillinger {
    margin-top: 90px;
}
    #bille_illustration, #blade_illustration {
        display: none;
    }


    #hairguy_udstilling_com, #insekter_udstilling_com {
        display: none;
    }

    #hairguy_udstilling_mobil, #indsekt_udstilling_mobil {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .indhold_artikel_udstillinger #brodtekst p {
        font-size: 15px;
    }
    
    #brodtekst {
        width: 75%;
        margin: auto;
    }
   

    /*Praktiske Informationer*/

    .prin_img{
        display: none;
    }
   

    /*Facilitetsikoner skal stadig være på række*/
    #prin_ikon{
        flex-direction: row;
    }
    
    #maps_lap{
        display: none;
    }

    .prin{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .prin div{
        width: 100%;
        margin-inline: 0;
    }

    .prin h1{
        font-size: 5vw;
    }
    
    .prin h2{
        font-size: 4.5vw;
    }

    #madogdrikke-com {
        display: none;
    }
}

/*laptop*/  
@media screen and (min-width: 768px){

    .udstilling_mobil {
        display: none;
    }

    #firben_udstilling_mobil {
        display: none;
    }

    #firben_udstilling_com {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }

/*udstillings artikle*/  
    #hairguy_udstilling_mobil, #indsekt_udstilling_mobil {
        display: none;
    }

    #bille-mobil {
        display: none;
    }

    #fugle-mobil {
        display: none;
    }

    /*Praktisk information*/

    #fuglepraktiskinfo-mobil {
        display: none;
    }

    #madogdrikke {
        display: none;
    }
    #maps_mobile{
        display: none;
    }
}