/*Velkommen til det fedeste CSS dokument*/

/*Gennerelle regler*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{

}

h2{

}

h3{

}

h4{

}

a{}


/*Navigation med dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -40%;
    background-color: white;
    min-width: 100px;
    padding: 20px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content li{
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
}


/*Donation*/
#donation{
    display: flex;
}

#donation div{
    width: 50%;
    justify-content: center;
    display: flex;
}

#donation img{
    width: 500px;
}

#donation_text{
    flex-direction: column;
}

#donation h2{
    color: #F69D10;

    margin-bottom: 40px;
}

#donation a{
    color: white;
    background-color: #6D9887;
    text-decoration-line: none;

    width: 120px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20%;
    margin-top: 40px;
}

#natsvaermer img{
    width: 90px;

    position: relative;
}
    
/*Instafeed med 4x img*/
#instafeed h2{
    display: flex;
    justify-content: center;

    color: #F69D10;
    padding-bottom: 30px;
}

#instafeed_img{
    display: flex;
    justify-content: space-between;
}

#instafeed_img div{
    width: 20%;
}