/*Velkommen til det fedeste CSS dokument*/ 

                                                                            /*Gennerelle regler*/ 

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
a {
    text-decoration: none;
}
       
img{ 
    width: 100%; 
} 

/*SKRIFTSREGLER*/
    
h1,h2,h3,h4,h5,h6,p,a{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
} 

h1,h2{
    color: #f69d10;
}

h3,h5,h6{
    color: #6d9887;
}
    
h1{ 
    font-size: 95pt; 
    text-transform: uppercase; 
} 
    
h2{     
    font-size: 3vw; 
} 
    
h3{ 
    font-size: 4vw;
} 
    
h4{ 
    font-size: 25pt; 
    color: white; 
} 

h5{
    font-size: 1.5vw;
}

h6{
    font-size: 2vw;
}

p{
    font-size: 1.2vw;
}





/*FOOTER*/
footer {
    width: 100%;
}
.hvid {
    padding-top: 50px;
}

.hvid img {
    position: relative;
    top: 20px;
    left: 80%;
    width: 12%;
}

.orange {
    background-color: #f69d10;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

footer div ul li {
    list-style-type: none;
    line-height: 30px;
}

footer h4 {
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

#ikoner a {
    font-size: 50px;
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
}

#fo_her{
    color: white;
}



/*HEADER*/ 
    
header{ 
    display: flex; 
    position: fixed;
    top: 0;
    justify-content: space-between; 
    width: 100%; 
    height: 120px; 
    background-color: white;
        
    box-shadow: 2px 2px 5px lightgrey;

} 
    
#logo{ 
    margin: 2%; 
    width: 100px; 
} 
    
#flag{ 
    width: 40px; 
    margin-right: 2%; 
    padding-top: 50px; 
} 
    
    /*Navigation*/ 
nav{ 
    display: flex; 
    justify-content: space-around; 
    width: 70%; 
    padding-top: 50px;  
} 
    
     
nav a{ 
    text-decoration: none; 
    color: black; 
} 
    
nav a:hover{ 
    color: #f69d10; 
} 
    

#burger_menu img {
    position: relative;
    top: 25px;
    right: 20px;
    height: 40px;

}
     
    
    /*Dropdown*/ 
    
.dropdown { 
    position: relative; 
    display: inline-block; 
} 
      
.dropdown-content { 
    display: none; 
    position: absolute; 
    right: -76%; 
    background-color: white; 
    min-width: 200px; 
    padding: 15px; 
    z-index: 1; 
    }  
    
.dropdown:hover .dropdown-content{ 
    display: block; 
} 
    
.dropdown-content li{ 
    list-style: none; 
    text-align: left; 
    margin-bottom: 10px; 
} 
      




                                                                           /*INDEX*/
    /*MAIN*/ 

    /*SLIDESHOW*/

    .card {
      position: relative;
      
      width: 100%;
      
      margin-top: 120px;
      overflow:hidden;
      z-index: -1;
    }
    
  
    
    .card_part-three {
      position: absolute;
      top: 0;
      left: 0;
      
      width: 100%;
      height: 45em;
      
      transform: translateX( 100% );
      background-image: url(img/drage.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      
      animation: Transition 30s linear infinite;
    }
    
    
    .card_part-two {
      background-image: url( img/lion.jpg );
      background-size: cover;
      width: 100%;
      height: 45em;
      background-repeat: no-repeat;

    }

    
    
    @keyframes Transition {
      0% { transform: translateX( -100% ); }
      5% { transform: translateX(0);}
      25% { transform: translateX(0);}
      28% { transform: translateX(100%);}
      60% { transform: translateX( 100% ); }
      75% { transform: translateX( 0 ); }
      95% { transform: translateX( 0 ); }
      100% { transform: translateX( -100% ); }
    }

    .læs_mere_knap a h4 {
        padding: 10px 15px 10px 15px;
        background-color: #F69D10;
        border-radius: 25px;
        font-size: 1.2vw;
        width: 10%;
        margin-top: 20px;
    }

    .card h1{
        font-size: 7vw;
        width: 75%;

    }

    .card h4 {
        font-size: 1.2vw;
        width: 40%;
    }

    #loeve_tekst {
        position: relative;
        top: 30%;
        left: 35%;
    }

    #drage_tekst {

        position: relative;
        top: 40%;
        left: 10%;
    }





    /*Slideshow*/

 /*   
#slideshow {
    max-width: 1650px;
    margin: 0 auto;
    overflow: hidden;


}

#slideshow_indhold {
    display: flex;
    animation: carousel 20s ease-in-out infinite;
}

.slideshow_img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@keyframes carousel {
    100%
    {
        transform: translateX(-2560px);
    }
}

*/


    /*Fire kort med fokusområder*/ 
    
     
 #firekort { 
    display: flex; 
    justify-content: space-around; 
    margin-top: 170px;
    margin-bottom: 100px;
    } 

    #firekort a {
        width: 23%;
    }

    #firekort h3 {
        font-size: 2vw;
    }
    




    /*Donation*/
#donation{
    display: flex;
    margin-top: 3%;
    margin-bottom: 10%
}

#donation div{
    width: 50%;
    justify-content: center;
    display: flex;
}

#donation img{
    width: 67%;
}

div #donation_text{
    width: 65%;
    margin-left: 2.2%;
}

#donation_text{
    flex-direction: column;
}

#donation h2{
    margin-bottom: 10%;
}

#donation_text p{
    font-size: 1.2vw;
    color: #707070;
    letter-spacing: 0.2px;
}

#donation a{
    color: white;
    background-color: #6D9887;
    text-decoration-line: none;
    font-size: 1.4vw;

    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 35px;
    margin-top: 10%;

    text-align: center;
    width: 38%;
}

div #donation_natsvaermer{
    width: 35%;
    position: relative;
    margin-right: 8%;
    margin-bottom: 9%;
}

#donation_natsvaermer img{
    width: 50%;
}
    
    
/*Instafeed med 4x img*/ 
    
#instafeed h2{ 
    display: flex; 
    justify-content: center; 
    
    color: #F69D10; 
    font-weight: 100;
    font-size: 3vw;

    padding-bottom: 3%;
} 
    
     
    
#instafeed_img{ 
    display: flex; 
    justify-content: space-between; 
    } 

#instafeed_img div{
    width: 24%;
}





                                                        /*PRAKTISK INFORMATIONSSIDE*/
#open{
    margin-top: 170px; /*skal være 170px for ikke at forsvinde under header.*/
}

.prin{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
   

    /*Margin for alle sections på siden så der er luft til hver side. skal måske flyttes til @media så det blir responsivt*/
    margin-left: 40px;
    margin-right: 40px;
}

.prin div{
    width: 50%;
}

.prin h2{
    color: #6d9887;
}







  
    
                                                                        /*MOBIL*/ 
    
@media screen and (max-width: 768px){ 

    /*Header*/

    header {
        height: 90px;
    }
    
    nav {
        display: none;
    }
    #flag {
        display: none;
    }

    /*Fire kort med fokusområder*/
    #firekort {
        flex-wrap: wrap;
    }

    #firekort a {
        width: 80%;
        margin-bottom: 50px;
    }

    #firekort h3 {
        font-size: 4vw;
    }

    /*Donation*/

    div #donation_natsvaermer{
        display: none;
    }

    #donation img{
        width: 80%;
    }

    div #donation_text{
        margin-left: 0%;
        margin-right: 16%;
        width: 80%;
    }

    #donation_text h2{
        font-size: 3.3vw;
        margin-bottom: 5%;
    }

    #donation_text p{
        font-size: 2.7vw;
    }

    #donation_text a{
        font-size: 2.8vw;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 40%;
    }

    /*Instafeed*/

    #instafeed_img{
        flex-wrap: wrap;
    }

    #instafeed_img div{
        width: 48.5%;
        padding-bottom: 2.4%;
    }

    #instafeed h2{ 
        font-size: 3.7vw;
    } 
    
} 
    
     
    
    /*LAPTOP*/ 
    
@media screen and (min-width: 768px){ 
    #burger_menu {
        display: none;
    }
    } 
    
     