/*Velkommen til det fedeste CSS dokument*/ 

                                                                            /*Gennerelle regler*/ 

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;   
} 
a {
    text-decoration: none;
}
       
img{ 
    width: 100%; 
} 

/*SKRIFTSREGLER*/
    
h1,h2,h3,h4,h5,h6,p,a{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
} 

h1,h2{
    color: #f69d10;
}

h3,h5,h6{
    color: #6d9887;
}
    
h1{ 
    font-size: 95pt; 
    text-transform: uppercase; 
} 
    
h2{     
    font-size: 3vw; 
} 
    
h3{ 
    font-size: 4vw;
} 
    
h4{ 
    font-size: 25pt; 
    color: white; 
} 

h5{
    font-size: 1.5vw;
}

h6{
    font-size: 2vw;
}

p{
    font-size: 1.2vw;
}

                                                                            /*INDEX*/
    /*HEADER*/ 
    
header{ 
    display: flex; 
    position: fixed;
    top: 0;
    justify-content: space-between; 
    width: 100%; 
    height: 120px; 
    background-color: white;
        
    box-shadow: 2px 2px 5px lightgrey;

} 
    
#logo{ 
    margin: 2%; 
    width: 100px; 
} 
    
#flag{ 
    width: 40px; 
    margin-right: 2%; 
    padding-top: 50px; 
} 
    
    /*Navigation*/ 
nav{ 
    display: flex; 
    justify-content: space-around; 
    width: 70%; 
    padding-top: 50px;  
} 
    
     
nav a{ 
    text-decoration: none; 
    color: black; 
} 
    
nav a:hover{ 
    color: #f69d10; 
} 
    

#burger_menu img {
    position: relative;
    top: 25px;
    right: 20px;
    height: 40px;

}
     
    
    /*Dropdown*/ 
    
.dropdown { 
    position: relative; 
    display: inline-block; 
} 
      
.dropdown-content { 
    display: none; 
    position: absolute; 
    right: -76%; 
    background-color: white; 
    min-width: 200px; 
    padding: 15px; 
    z-index: 1; 
    }  
    
.dropdown:hover .dropdown-content{ 
    display: block; 
} 
    
.dropdown-content li{ 
    list-style: none; 
    text-align: left; 
    margin-bottom: 10px; 
} 
      





    /*MAIN*/ 


    /*Slideshow*/

 /*   
#slideshow {
    max-width: 1650px;
    margin: 0 auto;
    overflow: hidden;


}

#slideshow_indhold {
    display: flex;
    animation: carousel 20s ease-in-out infinite;
}

.slideshow_img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@keyframes carousel {
    100%
    {
        transform: translateX(-2560px);
    }
}

*/


    /*Fire kort med fokusområder*/ 
    
     
 #firekort { 
    display: flex; 
    justify-content: space-around; 
    margin-top: 170px;
    margin-bottom: 100px;
    } 

    #firekort a {
        width: 23%;
    }

    #firekort h3 {
        font-size: 2vw;
    }
    




    /*Donation*/
#donation{
    display: flex;
    margin-top: 3%;
    margin-bottom: 10%
}

#donation div{
    width: 50%;
    justify-content: center;
    display: flex;
}

#donation img{
    width: 67%;
}

div #donation_text{
    width: 65%;
    margin-left: 2.2%;
}

#donation_text{
    flex-direction: column;
}

#donation h2{
    margin-bottom: 10%;
}

#donation_text p{
    font-size: 1.2vw;
    color: #707070;
    letter-spacing: 0.2px;
}

#donation a{
    color: white;
    background-color: #6D9887;
    text-decoration-line: none;
    font-size: 1.4vw;

    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 35px;
    margin-top: 10%;

    text-align: center;
    width: 38%;
}

div #donation_natsvaermer{
    width: 35%;
    position: relative;
    margin-right: 8%;
    margin-bottom: 9%;
}

#donation_natsvaermer img{
    width: 50%;
}
    
    
/*Instafeed med 4x img*/ 
    
#instafeed h2{ 
    display: flex; 
    justify-content: center; 
    
    color: #F69D10; 
    font-weight: 100;
    font-size: 3vw;

    padding-bottom: 3%;
} 
    
     
    
#instafeed_img{ 
    display: flex; 
    justify-content: space-between; 
    } 

#instafeed_img div{
    width: 24%;
}





                                                        /*PRAKTISK INFORMATIONSSIDE*/
#open{
    margin-top: 170px; /*skal være 170px for ikke at forsvinde under header.*/
}

.prin{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
   

    /*Margin for alle sections på siden så der er luft til hver side. skal måske flyttes til @media så det blir responsivt*/
    margin-left: 40px;
    margin-right: 40px;
}

.prin div{
    width: 50%;
}

.prin h2{
    color: #6d9887;
}







  
    
                                                                        /*MOBIL*/ 
    
@media screen and (max-width: 768px){ 

    /*Header*/

    header {
        height: 90px;
    }
    
    nav {
        display: none;
    }
    #flag {
        display: none;
    }

    /*Fire kort med fokusområder*/
    #firekort {
        flex-wrap: wrap;
    }

    #firekort a {
        width: 80%;
        margin-bottom: 50px;
    }

    #firekort h3 {
        font-size: 4vw;
    }

    /*Donation*/

    div #donation_natsvaermer{
        display: none;
    }

    #donation img{
        width: 80%;
    }

    div #donation_text{
        margin-left: 0%;
        margin-right: 16%;
        width: 80%;
    }

    #donation_text h2{
        font-size: 3.3vw;
        margin-bottom: 5%;
    }

    #donation_text p{
        font-size: 2.7vw;
    }

    #donation_text a{
        font-size: 2.8vw;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 40%;
    }

    /*Instafeed*/

    #instafeed_img{
        flex-wrap: wrap;
    }

    #instafeed_img div{
        width: 48.5%;
        padding-bottom: 2.4%;
    }

    #instafeed h2{ 
        font-size: 3.7vw;
    } 
    
} 
    
     
    
    /*LAPTOP*/ 
    
@media screen and (min-width: 768px){ 
    #burger_menu {
        display: none;
    }
    } 
    
     